:root {
    --fondo-claro: #A2DBD9;
    --fondo-oscuro: #283635;
    --primary: #B5F5F3;
    --secondary: #A2DBD9;
    --celeste-oscuro: #577574;
    --celeste-opaco: #86B5B3;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 4px;
    text-decoration: none;
    background-color: var(--fondo-oscuro);
}

/* navbar  */
header {
    background-color: var(--fondo-claro);
    position: fixed;
    z-index: 10;
    width: 100%;
}
nav {
    width: 100%;
    height: 80px;
    font-size: 5em;
    padding: 0 18vw;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6vw;
    height: 100%;
}
nav ul li {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: var(--fondo-oscuro);
}

/* main */
/* main texto  */
main {
    height: 105vh;
    width: 100%;
    background-color: var(--fondo-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10vh; 
    border-radius: 0 0 50% 50%;
}
main .presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fondo-oscuro);
    text-align: center;
}
main .presentacion :nth-child(1) {
    font-size: 5em;
}
main .presentacion h1 {
    font-size: 12em;
    font-weight: 600;
}
main .presentacion :nth-child(3) {
    font-size: 8em;
    font-weight: 200;
}

/* main img  */
main .img-presentacion {
    background-color: var(--celeste-opaco);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px #28363540 inset;
}
main .img-presentacion div {
    position: relative;
    top: -55px;
    left: 0px;
    width: 250px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden ;
}
main .img-presentacion div img {
    position: absolute;
    top: -65px;
    left: 15px;
    width: 225px;
}

/* main barrita  */
main .contactos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 280px;
    width: 60px;
    border-radius: 50px;
    background-color: var(--celeste-opaco);
    padding: 12px;
    position: fixed;
    left: 48px;
}
main .contactos .icon-presentacion {
    width: 25px;
}
img {
    width: 50px;
}


/* section skills  */
#skills {
    width: 100%;
    height: 100vh;
    padding: 32px 17vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#skills h2 {
    font-size: 10em;
    color: var(--primary);
}

#skills .tarjeta-skills {
    width: 100%;
    height: 55vh;
    box-shadow: 0px 0px 16px 0px #B5F5F340;
    border-radius: 20px;
    padding: 16px;
    margin-top: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#skills .tarjeta-skills .skill {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#skills .tarjeta-skills .skill div {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#skills .tarjeta-skills .skill div :nth-child(1) {
    font-size: 8em;
    color: var(--secondary);
}
#skills .tarjeta-skills .skill div :nth-child(2) {
    font-size: 5em;
    font-weight: 200;
    color: var(--secondary);
}
#skills .tarjeta-skills #html {
    width: 90%;
    height: 10px;
    background-color: var(--primary);
    border-radius: 50px;
    box-shadow: 4px 4px 10px 2px #B5F5F342;
}
#skills .tarjeta-skills #css {
    width: 65%;
    height: 10px;
    background-color: var(--primary);
    border-radius: 50px;
    box-shadow: 4px 4px 10px 2px #B5F5F342;
}
#skills .tarjeta-skills #javascript {
    width: 40%;
    height: 10px;
    background-color: var(--primary);
    border-radius: 50px;
    box-shadow: 4px 4px 10px 2px #B5F5F342;
}

#skills h3 {
    font-size: 9em;
    color: var(--primary);
    margin-top: 48px;
}

#skills .skills-secondary {
    margin-top: 16px;

    display: flex;
    gap: 60px;
}

#skills .skills-secondary div {
    display: flex;
    align-items: center;
    gap: 16px;
}

#skills .skills-secondary div div {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0px 0px 10px 2px #B5F5F340;
}

#skills .skills-secondary p {
    font-size: 7em;
    color: var(--secondary);
}


/* section proyectos */
#section-proyectos {
    width: 100%;
    height: 100vh;
    padding: 32px 17vw;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#section-proyectos h2 {
    font-size: 10em;
    color: var(--primary);
}
#section-proyectos .container-proyectos {
    width: 100%;

    display: flex;
    gap: 2vw;
}
#section-proyectos .container-proyectos .proyectos {
    width: 100%;
    height: 35vw;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--primary);
    box-shadow: 4px 4px 10px 0px #B5F5F3BF;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container-proyectos .proyectos img {
    width: 100%;
}
.container-proyectos .proyectos p {
    font-size: 5em;
    color: var(--primary);
}
.container-proyectos .proyectos .lenguajes {
    display: flex;
    gap: 12px;
}
.container-proyectos .proyectos .lenguajes div {
    background-color: var(--celeste-opaco);
    padding: 3px 10px;
    border-radius: 40px;
}
.container-proyectos .proyectos .lenguajes div p {
    font-size: 3em;
    font-weight: 400;
    color: var(--fondo-oscuro);
}
.container-proyectos .proyectos .botones {
    margin-top: 15%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    gap: 24px;
}
.container-proyectos .proyectos .botones div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: var(--celeste-opaco);

    display: flex;
    justify-content: center;
    align-items: center;
}
.container-proyectos .proyectos .botones div img {
    width: 20px;
}


/* section about me */

.section-about {
    width: 100%;
    height: 100vh;
    padding: 32px 17vw;
    color: var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 72px;
}

.section-about h2 {
    font-size: 12em;
}

.section-about .container-about-me {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.section-about .container-about-me .linea-tiempo {
    width: 100%;

    display: flex;
    align-items: center;
}

.section-about .container-about-me .linea-tiempo .circulo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--primary);
}

.section-about .container-about-me .linea-tiempo .linea {
    height: 3px;
    width: 50%;
    background-color: var(--primary);
}

.container-about-me .container-info-about {
    width: 100%;

    display: flex;
}

.container-about-me .container-info-about .info {
    width: 50%;
    padding: 0 25px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.container-about-me .container-info-about .info :nth-child(1) {
    font-size: 8em;
}

.container-about-me .container-info-about .info :nth-child(2) {
    font-size: 5em;
}

footer {
    width: 100%;
    height: 20vh;
    padding: 32px 17vw;
    color: var(--primary);
    
    display: flex;
    align-items: center;
    gap: 2vw;
}

footer p {
    width: 33%;
    font-size: 5em;
}

footer div {
    width: 66%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
}

footer div a {
    text-decoration: none;
    color: var(--primary);
    font-size: 4em;
    font-weight: 200;
}

footer div img {
    width: 20px;
}


@media (max-width: 600px) {
    nav {
        height: 60px;
        font-size: 4em;
        padding-right: 24px;
    }

    nav ul {
        gap: 16px;
    }

    main {
        padding: 0 3vw;
        justify-content: space-evenly;
        height: 100vh;
        border-radius: 0 0 150px 150px;
    }

    main .presentacion :nth-child(1) {
        font-size: 4em;
    }
    main .presentacion h1 {
        font-size: 9em;
        font-weight: 600;
    }
    main .presentacion :nth-child(3) {
        font-size: 6.5em;
        font-weight: 200;
    }

    main .contactos {
        flex-direction: row;
        width: 250px;
        height: 50px;
        bottom: 0px;
        left: 0;
        right: 0;
        margin: 3% auto;
    }

    main .contactos .icon-presentacion {
        width: 20px;
    }

    #skills {
        padding: 32px 10vw;
    }

    #skills h2 {
        font-size: 8em;
    }

    #skills .tarjeta-skills .skill div :nth-child(1) {
        font-size: 6em;
    }

    #skills .tarjeta-skills .skill div :nth-child(2) {
        font-size: 4em;
    }

    #skills h3 {
        font-size: 7em;
    }

    #skills .skills-secondary div div {
        width: 20px;
        height: 20px;
    } 

    #skills .skills-secondary p {
        font-size: 5em;
    }

    #section-proyectos {
        padding: 32px 10vw;
        height: 100%;
    }

    #section-proyectos h2 {
        font-size: 8em;
    }
    
    #section-proyectos .container-proyectos {
        margin-top: 5vh;
        
        flex-direction: column;
        gap: 5vh;
    }

    #section-proyectos .container-proyectos .proyectos {
        height: 60vh;
    }

    /* section-about */
    .section-about {
        padding: 32px 10vw;
        height: 80vh;
    }
    .section-about .container-about-me {
        flex-direction: row;
        gap: 12px;
    }

    .section-about .container-about-me .linea-tiempo {
        width: 25px;
        
        flex-direction: column;
    }

    .section-about .container-about-me .linea-tiempo .circulo {
        width: 20px;
    }

    .section-about .container-about-me .linea-tiempo .linea {
        height: 50%;
        width: 3px;
    }

    .container-about-me .container-info-about {
        flex-direction: column;
        gap: 24px;
    } 

    .container-about-me .container-info-about .info {
        width: 100%;
    }

    .container-about-me .container-info-about .info :nth-child(1) {
        font-size: 7em;
    }
    .container-about-me .container-info-about .info :nth-child(2) {
        font-size: em;
    }

    footer {
        padding: 0 10vw;

        flex-direction: column;
        gap: 0;
    }

    footer p {
        width: 100%;
        text-align: center;
    }

    footer div {
        width: 100%;
        margin-top: 24px;
        justify-content: center;
        gap: 5vw;

    }


}