:root {
    --fondo-claro: #A2DBD9;
    --fondo-oscuro: #283635;
    --primary: #B5F5F3;
    --secondary: #A2DBD9;
    --celeste-oscuro: #577574;
    --celeste-opaco: #86B5B3;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 4px;
    text-decoration: none;
}

/* navbar  */
header {
    background-color: var(--fondo-claro);
    position: fixed;
    z-index: 10;
    width: 100%;
}
nav {
    width: 100%;
    height: 80px;
    font-size: 5em;
    padding: 0 18vw;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 6vw;
    height: 100%;
}
nav ul li {
    list-style: none;
    color: var(--fondo-oscuro);
}

/* main */
main {
    height: 97vh;
    width: 100%;
    background-color: var(--fondo-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10vh; 
}
main .presentacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fondo-oscuro);
    text-align: center;
}
main .presentacion :nth-child(1) {
    font-size: 5em;
}
main .presentacion h1 {
    font-size: 12em;
    font-weight: 600;
}
main .presentacion :nth-child(3) {
    font-size: 8em;
    font-weight: 200;
}

main .img-presentacion {
    background-color: var(--celeste-opaco);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px #28363540 inset;
}
main .img-presentacion div {
    position: relative;
    top: -55px;
    left: 0px;
    width: 250px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden ;
}
main .img-presentacion div img {
    position: absolute;
    top: -65px;
    left: 15px;
    width: 225px;
}

main .contactos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 280px;
    width: 60px;
    border-radius: 50px;
    background-color: var(--celeste-opaco);
    padding: 12px;
    position: fixed;
    left: 48px;
}

main .contactos .icon-presentacion {
    width: 25px;
}

img {
    width: 50px;
}


@media (max-width: 600px) {
    nav {
        height: 60px;
        font-size: 4em;
        padding-right: 24px;
    }

    nav ul {
        gap: 16px;
    }

    main {
        padding-top: 0;
        justify-content: space-evenly;
    }

    main .presentacion :nth-child(1) {
        font-size: 4em;
    }
    main .presentacion h1 {
        font-size: 10em;
        font-weight: 600;
    }
    main .presentacion :nth-child(3) {
        font-size: 7em;
        font-weight: 200;
    }

    main .contactos {
        flex-direction: row;
        width: 250px;
        height: 50px;
        bottom: 25px;
        left: 0;
        right: 0;
        margin: 5% auto;
    }

    main .contactos .icon-presentacion {
        width: 20px;
    }
}